$tamaño_icon_logo: 40px;

$button_text_color_hover: hsla(0, 100%, 100%, 1);
$button_bg_color_hover: hsla(140, 86%, 58%, 1);
$button_border_color_hover: hsla(0, 100%, 100%, 1);
$button_text_size: 1.7rem;

$button_text_color: hsla(0, 100%, 100%, 1);
$button_bg_color: hsla(210, 5%, 29%, 0.95);
$button_border_color: hsla(0, 100%, 100%, 1);

$input_text_color: hsla(0, 100%, 100%, 1);
$input_bg_color: hsla(210, 4%, 39%, 0.95);
$input_border_color: hsla(0, 100%, 100%, 1);
$input_text_size: 1.5rem;

:host #left-column {
  max-width: 60%;
  padding: 0;
}

:host #right-column {
  max-width: 40%;
  box-shadow: 0 8px 20px 0 #000;
  z-index: 2;
  font-size: 225%;
  padding: 1.25rem 3rem 1.25rem !important;
}

:host .left-login-background {
  background-repeat: no-repeat !important;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(53, 56, 59, 0.9), rgba(25, 187, 87, 0.9)),
    url("/assets/images/login-left-background.jpg");
  background-size: 100% 100% !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

:host .left-header-p {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 250%;
  z-index: 2;
}

:host .left-header-p-after {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 225%;
  text-align: left;
  z-index: 2;
  letter-spacing: 0.5rem;
}

:host .logo-header {
  height: $tamaño_icon_logo;
  padding-right: 0.75rem;
  z-index: 2;
}

:host .right-header-p {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  z-index: 2;
}

:host .right-column-container {
  //   -webkit-justify-content: center;
  //   justify-content: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

:host .login-button {
  background-color: $button_bg_color;
  border-color: $button_border_color;
  color: $button_text_color;
  font-size: $button_text_size;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

:host .login-button:hover {
  background-color: $button_bg_color_hover;
  border-color: $button_border_color_hover;
  color: $button_text_color_hover;
  font-size: $button_text_size;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

:host #right-column input {
  background-color: $input_bg_color;
  border-color: $input_border_color;
  color: $input_text_color;
  font-size: $input_text_size;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

//Color icono cuando es correcto.
.right {
  color: #5af158;
}

//Color icono cuando es incorrecto.
.danger {
  color: #ff5680;
  font-size: 50% !important;
  margin: 0;
  padding: 0.75rem 1.125rem;
  border: 1px solid #ff5680 !important;
  position: relative;
  background-color: #f8d7da;
  border-color: #ff5680 !important;
  width: 69%; //Igual que input.
}

.wrong {
  color: #ff5680;
}

//Iconos form
.form-icon-left {
  margin-right: 5%;
}

.form-icon-right {
  margin-left: 5%;
}

//Ancho inputs.
form input {
  width: 70%;
}

//Shadow cuando es correcto y se tiene foco en el input.
input[type="text"].ng-dirty.ng-valid:focus,
input[type="password"].ng-dirty.ng-valid:focus,
.uneditable-input:focus {
  border-color: rgb(106, 223, 145);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(106, 223, 145);
  outline: 0 none;
}

//Shadow cuando es incorrecto y se tiene foco en el input.
input[type="text"].ng-dirty.ng-invalid:focus,
input[type="password"].ng-dirty.ng-invalid:focus,
.uneditable-input:focus {
  border-color: #ff99b2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #ff5680;
  outline: 0 none;
}

//Shadow cuando todavia no se modifico input y se tiene foco en el input.
input[type="text"].ng-pristine:focus,
input[type="password"].ng-pristine:focus,
.uneditable-input:focus {
  border-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #ffffff;
  outline: 0 none;
}

//Borde del input cuando es incorrecto.
input.ng-invalid.ng-touched.ng-dirty {
  border-left: 5px solid #ff5680 !important;
}

//Borde del input cuando es correcto.
input.ng-valid.ng-touched.ng-dirty {
  border-left: 5px solid rgb(106, 223, 145) !important;
}

 .flex-container-row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.flex-container-col {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.input-container {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 70%;
}

.icon-container {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  flex-basis: 15%;
}

.item-paragraph {
  width: 100%;
  margin-bottom: 1rem;
}

//Toaster icon colors
::ng-deep nb-toastr-container > nb-toast > i
{
  background-color: #3333 !important;
  color: #ff386a !important;
}