<nb-layout>
  <nb-layout-column id="left-column">
    <nb-layout-header>
      <img [ngClass]="'logo-header'" src="assets/images/logo-login-header.png">
      <p [ngClass]="'left-header-p'"><strong>Telemetria</strong></p>
    </nb-layout-header>
    <nb-layout [ngClass]="'background-container'">
      <nb-layout-column [ngClass]="'left-login-background'">
        <p [ngClass]="'left-header-p-after'">Hola, bienvenido a <strong>Telemetría</strong></p>
      </nb-layout-column>
    </nb-layout>
  </nb-layout-column>
  <nb-layout-column id="right-column">
    <p [ngClass]="'right-header-p'">Ingresa tus datos para continuar</p>
    <nb-layout-column [ngClass]="'right-column-container'">
      <form [formGroup]="inicioSesionForm" (ngSubmit)="onSubmit()">
        <div id="user">
          <div [ngClass]="'flex-container-row icon-container'">
            <div [ngClass]="'form-icon-left'">
              <i class="fa fa-user"></i>
            </div>
            <div [ngClass]="'input-container'">
              <div [ngClass]="'flex-container-col'">
                <div>
                  <input type="text" id="user" nbInput shape="rectangle" fullWidth placeholder="Usuario"
                    formControlName="user" autofocus (change)="resetUserStatus()" [(ngModel)]='user' [disabled]='isLoading'>
                  <p [ngClass]="'danger item-paragraph'"
                    [ngStyle]="{'visibility': isUserInvalid() && !isUserEmpty()  ? 'visible' : 'hidden'}">
                    Usuario inválido</p>
                </div>
              </div>
            </div>
            <div [ngClass]="'form-icon-right'">
              <i [ngClass]="'icon-container'" class="fa fa-exclamation-circle" [ngStyle]="{'color': 'transparent'}"
                *ngIf="isUserInitialStatus() || isUserEmpty()"></i>
              <i [ngClass]="'icon-container wrong'" class="fa fa-exclamation-circle"
                *ngIf="isUserInvalid() && !isUserEmpty()"></i>
              <i [ngClass]="'icon-container right'" class="fa fa-check-circle" *ngIf="isUserValid()"></i>
            </div>
          </div>
        </div>
        <div id="password">
          <div [ngClass]="'flex-container-row icon-container'">
            <div [ngClass]="'form-icon-left'">
              <i class="fa fa-key"></i>
            </div>
            <div [ngClass]="'input-container'">
              <div [ngClass]="'flex-container-col'">
                <div>
                  <input type="password" id="pass" nbInput shape="rectangle" fullWidth placeholder="Contraseña"
                    formControlName="password" autofocus (change)="resetPassStatus()" [(ngModel)]='password' [disabled]='isLoading'>
                  <p [ngClass]="'danger item-paragraph'"
                    [ngStyle]="{'visibility': isPassInvalid() && !isPassEmpty()  ? 'visible' : 'hidden'}">
                    Contraseña inválida</p>
                    <button nbButton status="success" size="large" shape="rectangle"
                    [ngClass]="'login-button'" (keyup.enter)='onSubmit()' [disabled]='isLoading'>INGRESAR</button>
                </div>
              </div>
            </div>
            <div [ngClass]="'form-icon-right'">
              <i [ngClass]="'icon-container'" class="fa fa-exclamation-circle" [ngStyle]="{'color': 'transparent'}"
                *ngIf="isPassInitialStatus() || isPassEmpty()"></i>
              <i [ngClass]="'icon-container wrong'" class="fa fa-exclamation-circle"
                *ngIf="isPassInvalid() && !isPassEmpty()"></i>
              <i [ngClass]="'icon-container right'" class="fa fa-check-circle" *ngIf="isPassValid()"></i>
            </div>
          </div>
        </div>
      </form>
    </nb-layout-column>
  </nb-layout-column>
</nb-layout>