$tam-spinner: 200px;

$button_text_color: hsla(0, 100%, 100%, 1);
$button_bg_color: hsla(210, 5%, 29%, 0.95);
$button_border_color: hsla(0, 100%, 100%, 1);

$button_text_color_hover: hsla(0, 100%, 100%, 1);
$button_bg_color_hover: hsla(140, 86%, 58%, 1);
$button_border_color_hover: hsla(0, 100%, 100%, 1);
$button_text_size: 1.7rem;

  :host #principal
  {
    height: 50vw;
  }

  :host #principal:first-child 
  {
    background: #D4f4f7;
  }

  :host #select-container
  {
    width: 300px !important;
  }

  :host ::ng-deep nb-select button
  {
    width: inherit !important;
  }

  :host ::ng-deep div nb-card
  {
    width: 100% !important;
  }

  mat-spinner {
    stroke: #FFF;
    height: $tam-spinner !important;
    width: $tam-spinner !important;
  }

  :host ::ng-deep mat-spinner svg{
    height: $tam-spinner !important;
    width: $tam-spinner !important;
  }
  
  #spinner-container {
    height: 100vh !important;
    width: $tam-spinner !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
    margin: auto;
  }

  :host .button{
    padding: 0.75rem 1.125rem;
    margin: 1.25rem 0;
    background-color: $button_bg_color;
    border-color: $button_border_color;
    color: $button_text_color;
    font-size: $button_text_size;
    margin-left: 50px;
  }

:host .button:hover{
    padding: 0.75rem 1.125rem;
    margin: 1.25rem 0;
    background-color: $button_bg_color_hover;
    border-color: $button_border_color_hover;
    color: $button_text_color_hover;
    font-size: $button_text_size;
    margin-left: 50px;
  }
