<h2 *ngIf="!status.error()">Información por Finca</h2>

<app-error *ngIf="status.error()" (retryBtnClickEvent)='status.retry()'>
</app-error>

<div *ngIf="!status.error()">
  <!-- SELECT -->
  <div id='select-container'>
    <nb-select ngDefaultControl *ngIf="isArrayFincasFetched" placeholder="Seleccione Finca"
      shape="semi-round" outline status="success" [(ngModel)]="fincaSelected" (ngModelChange)='onFincaSelected($event)'>
      <nb-option value="-1">Borrar Seleccion</nb-option>
      <nb-option *ngFor="let finca of arrayFincas" [value]="finca.id">
        {{finca.nombre}}
      </nb-option>
    </nb-select>
  </div>

  <div id='spinner-container'
    *ngIf="status.loadingResults()  && isFincaSelected">
    <mat-spinner>
    </mat-spinner>
  </div>

  <div *ngIf="!status.loadingResults() && isFincaSelected">


    <!-- Tabla ultimos datos -->
    <h2>Ultimos registros de la Finca al dia FECHA</h2>
    <app-table [dataSource]="estMeteorologicaDataSource" [displayedColumns]="estMeteorologicaColumns"></app-table>

    <!-- Boton Selector Tabla ET0 Semanal -->
    <button nbButton status="success" size="large" shape="rectangle" [ngClass]="'button'"
      [disabled]="tableETselected == 0" (click)="semanaBtnClick()">Semana</button>

    <!-- Boton Selector Tabla ET0 Quincena -->
    <button nbButton status="success" size="large" shape="rectangle" [ngClass]="'button'"
      [disabled]="tableETselected == 1" (click)="quincenaBtnClick()">Quincena</button>

    <!-- Boton Selector Tabla ET0 Mes -->
    <button nbButton status="success" size="large" shape="rectangle" [ngClass]="'button'"
      [disabled]="tableETselected == 2" (click)="mesBtnClick()">Mes</button>

    <!-- Tabla ET0 Semanal -->
    <div *ngIf="tableETselected == 0">
      <h2>Evapotranspiracion de los Ultimos 7 Dias</h2>
      <app-table [dataSource]="et0DataSourceLastWeek" [displayedColumns]="et0ColumnsLastWeek"></app-table>
    </div>

    <!-- Tabla ET0 Quincena -->
    <div *ngIf="tableETselected == 1">
      <h2>Evapotranspiracion de los Ultimos 15 Dias</h2>
      <app-table [dataSource]="et0DataSourceLastBiweek" [displayedColumns]="et0ColumnsLastBiweek"></app-table>
    </div>

    <!-- Tabla ET0 Mes -->
    <div *ngIf="tableETselected == 2">
      <h2>Evapotranspiracion de los Ultimos 30 Dias</h2>
      <app-table [dataSource]="et0DataSourceLastMonth" [displayedColumns]="et0ColumnsLastMonth"></app-table>
    </div>
  </div>
</div>