$button_text_color: hsla(0, 100%, 100%, 1);
$button_bg_color: hsla(210, 5%, 29%, 0.95);
$button_border_color: hsla(0, 100%, 100%, 1);

$button_text_color_hover: hsla(0, 100%, 100%, 1);
$button_bg_color_hover: hsla(140, 86%, 58%, 1);
$button_border_color_hover: hsla(0, 100%, 100%, 1);
$button_text_size: 1.7rem;

:host .button
{
    padding: 0.75rem 1.125rem;
    margin: 1.25rem 0;
    background-color: $button_bg_color;
    border-color: $button_border_color;
    color: $button_text_color;
    font-size: $button_text_size;
}

:host .button:hover
{
    padding: 0.75rem 1.125rem;
    margin: 1.25rem 0;
    background-color: $button_bg_color_hover;
    border-color: $button_border_color_hover;
    color: $button_text_color_hover;
    font-size: $button_text_size;
}