<div>
  <h2>Error. No se pudieron obtener los datos necesarios para continuar.</h2>
  <button name="btnRetry" ngDefaultControl nbButton status="success" size="large" shape="rectangle"
    [ngClass]="'button'" (click)="retryBtnClick()">Reintentar</button>
</div>
