@import '../_themes.scss';

$color_white: #FFFFFF;
$color_var: #4C534B;
:host nb-layout-header a 
{
    font-size: 2rem;
    text-decoration: none;
}
:host #buttons 
{
  margin-left: auto;
}
:host #user
{
  border-left: none;
  padding: 0px;
  color: $color_white;
  font-weight: bold;
}


:host ::ng-deep nb-action > a 
{
  text-decoration: none;
}


:host ::ng-deep nb-sidebar > div > div
{
  padding-top: 10px !important;
}

:host ::ng-deep nb-card-body ul, :host ::ng-deep nb-card-header ul
{
  list-style-type: none;
  float: right !important;
}

:host ::ng-deep nb-card-header ul
{
  padding-left: 0.35rem !important;
  padding-right: 0.35rem !important;
  margin-top: 0.1rem !important;
  margin-bottom: 0.1rem !important;
}

.column{
  padding: 0 !important;
}





