<div>
    <h2 *ngIf="!status.error()">Parcelas</h2>
    <app-error *ngIf="status.error()" (retryBtnClickEvent)='status.retry()'>
    </app-error>

    <div id='spinner-container' *ngIf="status.loadingResults() && !status.error()">
        <mat-spinner>
        </mat-spinner>
    </div>

    <app-table *ngIf="!status.loadingResults() && !status.error()" [dataSource]="dataSource" [displayedColumns]="displayedColumns">
    </app-table>

</div>