$tam-spinner: 200px;



  mat-spinner {
    stroke: #FFF;
    height: $tam-spinner !important;
    width: $tam-spinner !important;
  }

  :host ::ng-deep mat-spinner svg{
    height: $tam-spinner !important;
    width: $tam-spinner !important;
  }

  #spinner-container {
    height: 100vh !important;
    width: $tam-spinner !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
    margin: auto;
  }
