//@import '../src/_themes.scss';

$color_white: #FFFFFF;
$color_var: #4C534B;
$color_hover: #777;
$tamaño_icon_logo: 40px;

:host nb-layout-header a 
{
    font-size: 2rem;
    text-decoration: none;
}
:host #buttons 
{
  margin-left: auto;
}
:host #user
{
  border-left: none;
  padding: 0px;
  color: $color_white;
  font-weight: bold;
}


:host ::ng-deep nb-action > a 
{
  text-decoration: none;
}


:host ::ng-deep nb-sidebar > div > div
{
  padding-top: 10px !important;
}

:host ::ng-deep nb-card-body ul, :host ::ng-deep nb-card-header ul
{
  list-style-type: none;
  float: right !important;
}

:host ::ng-deep nb-card-header ul
{
  padding-left: 0.35rem !important;
  padding-right: 0.35rem !important;
  margin-top: 0.1rem !important;
  margin-bottom: 0.1rem !important;
}

:host ::ng-deep nb-layout-header nb-actions nb-action a i:hover 
{
  color: $color_hover;
}

:host .logo-header
{
    height: $tamaño_icon_logo;
    padding-right: 0.75rem;
}

:host .left-header-p
{
    font-family:'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 250%; 
}
