<nb-layout>
  <nb-layout-header fixed>
    <nb-actions size="medium">
      <nb-action id="hamburguer" icon="fa fa-bars" href="#" (click)="toggle()"></nb-action>
    </nb-actions>
    <img [ngClass]="'logo-header'" src="assets/images/logo-login-header.png">
    <p [ngClass]="'left-header-p'"><strong>Telemetria</strong></p>
    <nb-actions id="buttons" size="medium">
      <nb-action icon="fa fa-bell" badgeText="99+" badgeStatus="danger" [nbPopover]="templateNotifications"></nb-action>
      <nb-action icon="nb-gear"></nb-action>
    </nb-actions>
    <ng-template #templateNotifications>
      <nb-card>
        <nb-card-header>
          <ul>
            <li>
              <i [ngClass]="'fa fa-cog'"></i>
              Configurar
              <i [ngClass]="'fa fa-eye'"></i>
              Marcar como vistas
            </li>
          </ul>
        </nb-card-header>
      </nb-card>
      <nb-card *ngFor="let item of popNotificationItems">
        <nb-card-body>
          <nb-user [name]="item.type"></nb-user>
          <ul>
            <li>
              <i [ngClass]="'fa fa-calendar'"></i>
              {{item.dateTime}}
            </li>
          </ul>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body [ngStyle]="{'text-align': 'center'}">
          <a href="#">Ver todas</a>
        </nb-card-body>
      </nb-card>
    </ng-template>
    <nb-user size="medium" name="Flavio Capraro" [nbPopover]="templateProfile"></nb-user>
    <ng-template #templateProfile>
      <nb-menu tag="profileMenu" [items]="popConfigItems"></nb-menu>
    </ng-template>
  </nb-layout-header>
  <nb-sidebar state="compacted">
    <nb-menu [items]="sidebarItems"></nb-menu>
  </nb-sidebar>
  <nb-layout-column id="principal">
    <router-outlet>
    </router-outlet>
  </nb-layout-column>
</nb-layout>