<h2 *ngIf="!status.error()">Gráficos por Finca</h2>
<app-error *ngIf="status.error()" (retryBtnClickEvent)='status.retry()'></app-error>

<!-- SELECT -->
<div>
  <div id='select-container'>
    <nb-select ngDefaultControl *ngIf="isArrayFincasFetched && !status.error()" placeholder="Seleccione Finca"
      shape="semi-round" outline status="success" [(ngModel)]="fincaSelected" (ngModelChange)='onFincaSelected($event)'>
      <nb-option value="-1">Borrar Seleccion</nb-option>
      <nb-option *ngFor="let finca of arrayFincas" [value]="finca.id">
        {{finca.nombre}}
      </nb-option>
    </nb-select>
  </div>
  <div id='spinner-container' *ngIf="status.loadingResults()  && isFincaSelected">

    <mat-spinner>
    </mat-spinner>
  </div>

  <!--GRÁFICOS-->
  <div *ngIf="isFincaSelected">
    <!-- <h2>Gráficos finca: {{finca.nombre}}</h2> Ya esta mostrado en el select-->
    <!--GRÁFICO ET0 Semanal-->
    <div *ngIf="isETdataReady" [ngClass]="'graphic-container'">
      <h3>Evapotranspiracion - Ultimos 7 Días</h3>
      <canvas baseChart [datasets]="chartETdata" [labels]="chartETlabels" [options]="barChartConfig.options"
        [plugins]="barChartConfig.plugins" [legend]=" barChartConfig.legend" [chartType]="barChartConfig.type">
      </canvas>
    </div>
    <!--GRÁFICO TEMP Diaria-->
    <div *ngIf="isTDdataReady" [ngClass]="'graphic-container'">
      <h3>Temperatura - Ultimas 24Hs</h3>
      <canvas baseChart [datasets]="chartTDdata" [labels]="chartTDlabels" [options]="lineChartConfig.options"
        [plugins]="lineChartConfig.plugins" [legend]=" lineChartConfig.legend" [chartType]="lineChartConfig.type"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <!--GRÁFICO TEMP Semanal-->
    <div *ngIf="isTSdataReady" [ngClass]="'graphic-container'">
      <h3>Temperatura - Ultimos 7 Días</h3>
      <canvas baseChart [datasets]="chartTSdata" [labels]="chartTSlabels" [options]="lineChartConfig.options"
        [plugins]="lineChartConfig.plugins" [legend]=" lineChartConfig.legend" [chartType]="lineChartConfig.type"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>