<table mat-table [dataSource]="dataSource" matSort matSortDirection="asc">
  <ng-container *ngFor="let column of displayedColumns;" matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let row"> 
        <div *ngIf='!showHourCol && !showDateCol'>{{row[column]}}</div>
        <div *ngIf="showHourCol && column == 'hora'">{{ row[dateColumnName] | date: 'HH:mm' }}</div> 
        <div *ngIf="showDateCol && column == 'fecha'">{{ row[dateColumnName] | date: 'y-M-d' }}</div>
        <div *ngIf="(showHourCol || showDateCol) && (column != 'fecha' || column != 'hora')">{{ row[column] }}</div>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
