
  table {
    width: 100%;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    background: #526a5b;
  }

  th, td{
  border-bottom-color: rgba(200, 200, 200, 0.25);
  text-align: center !important;
  }

  :host ::ng-deep tbody{
    background: #333;
  }