@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/default';


$nb-enabled-themes: (dark, cosmic);
$nb-themes: nb-register-theme((
  layout-bg: hsla(210, 5%, 29%, 0.95),
  color-bg: rgb(53, 56, 59),
  color-fg: #FFF,
  shadow: 0 8px 20px 0 #000000,
  footer-shadow: 0 8px 20px 0 #000000,
  footer-separator: #333,
  menu-fg: hsla(0, 100%, 100%, 0.95),
  menu-active-bg: rgb(0, 226, 151),
  menu-active-fg: hsla(0, 0%, 0%, 0.95),
  menu-icon-color: hsla(0, 100%, 100%, 0.95),
  menu-icon-active-color:hsla(0, 0%, 0%, 0.95),
  menu-font-size: 1.4rem,
  list-item-border-color: #333,
  list-item-padding: 0.3rem,
  actions-separator: #333,
  popover-border: #999,
  card-border-color: #4C534B,
  card-header-border-width: 0.15rem,
  card-separator: hsla(0, 0%, 60%, 0.31),
  card-margin: 0,
  card-padding: 0.35rem,
  card-header-font-size: 1rem,
  card-border-radius: 1px,
  card-header-border-type: 0
), dark, cosmic);
